@()

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>

      <h3 id="distributions">Hadoop distributions</h3>
      <ul>
        <li>MAPR</li>
        <li>Cloudera</li>
        <li>Hortonworks</li>
      </ul>
      <h3 id="programming">Programming languages</h3>
      <ul>
        <li>Java</li>
        <li>Scala</li>
        <li>Python</li>
      </ul>
      <h3 id="tools">Hadoop ecosystem</h3>
      <ul>
        <li>Apache Spark</li>
        <li>Apache Kafka</li>
        <li>Oozie</li>
      </ul>
      <h3 id="devOps">DevOps</h3>
      <ul>
        <li>Sbt</li>
        <li>Jenkins</li>
        <li>Ansible</li>
        <li>Control-M</li>
      </ul>
      <h3 id="monitoring">Monitoring</h3>
      <ul>
        <li>Prometheus</li>
        <li>Grafana</li>
      </ul>
      <h3 id="elk">ELK</h3>
      <ul>
        <li>ElasticSearch</li>
        <li>Kibana</li>
        <li>SearchGuard</li>
        <li>Beats</li>
      </ul>
    </article>
  </div>
</section>
}
}